<div class="container mt-3">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photo.key, height: 300, crop: :fill %>')">
            <div class="card-body">
            </div>
          </div>
          <h2 class="card-title text-center mt-2" id="boatName"> <%= boat.name %> </h2>
          <div class="container d-flex justify-content-sm-between mt-2">
              <h3 class="card-text"> <%= boat.location %> </h3>
              <h3 class="card-text"> $ <%= boat.price %> </h3>
          </div>
          <div class="mt-2 mb-2 ps-2">
            <p class="card-text"> <%= boat.description %> </p>
          </div>
          <%= link_to "Check it out", boat_path(boat), class: "btn btn-primary"%>
          <% if policy(boat).edit? %>
            <%= link_to 'Edit', edit_boat_path(boat), class: 'btn btn-primary' %>
            <%= link_to "Remove", boat_path(boat),
                  method: :delete,
                  data: { confirm: "Are you sure?" }
                  # class: 'btn btn-danger'
              %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
