<div class="card-category card-large single-boat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('https://res.cloudinary.com/dognkye6x/image/upload/v1646252623/ship_asgt8t.png') %>)";>
</div>

<div class="rate py-3 text-white mt-3">
  <h2 class="mb-0 text-center text-capitalize boat-name">The <%= @boat.name %> Rating</h2>
  <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
</div>

<div class="container d-flex">

  <div class="container">
      <div class="row">
          <div class="card boat-info col-6">
            <div class="card-header">
            <div class="card-title text-capitalize"><h2><%= @boat.name %></h2></div>
            </div>
            <div class="card-body">
              <p class="card-text"> About the boat: <%= @boat.description %></p>
              <p class="card-text"> This boat is in: <%= @boat.location %></p>
            </div>
          </div>
      </div>
  </div>


  <div class="container book">
    <div class="row">
      <div class="col">
          <div class="form-header text-center">
            <h4>Book Your Boat</h4>
          </div>

          <%= simple_form_for [@boat, @booking] do |f| %>

            <h2 class="form-label text-center text-capitalize"> Your Boat: <%= @boat.name %></h2>

            <div class="container">
              <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
                <h3>Choose your dates</h3>

                <%= simple_form_for :booking, method: "get" do |f| %>
                  <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, "Book Now", class: "btn btn-primary" %>
                <% end %>
                 <h4 class="text-end">R$<%= @boat.price %></h4>
              </div>
            </div>
        <% end  %>
      </div>
    </div>
  </div>


<!-- Below is the pop up for for messages. Might no use it again. -->

<!-- 
  <div class="modal" id="modal">
    <div class="modal-header">
      <div class="title">Booking Message</div>
      <button data-close-button class="close-button">
        <i class="fas fa-window-close"></i>
      </button>
  </div>

    <div class="modal-body">
        <form>
          <div class="form-group">
            <h1 for="recipient-name" class="col-form-label text-center">You're booking the...</h1>
            <h2 class="text-center boat-name"><%= @boat.name %></h2>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" placeholder="talk to th owner"></textarea>
          </div>
        </form>
      </div>
      
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  <div id="overlay"></div>
-->

</div>
