<div class="card-category card-large single-boat" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @boat.photo.key, height: 300, crop: :fill %>')">
</div>


<div class="rate py-3 text-white mt-3">
  <h2 class="mb-0 text-center text-capitalize boat-name">The <%= @boat.name %> Rating</h2>
  <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
</div>

<div class="container d-flex">

<div class="container">
  <div class="row">
      <div class="card boat-info col-6">
        <div class="card-header">
        <div class="card-title text-capitalize"><h2><%= @boat.name %></h2></div>
        </div>
        <div class="card-body">
          <p class="card-text"> About the boat: <%= @boat.description %></p>
          <p class="card-text"> This boat is in: <%= @boat.location %></p>
        </div>
      </div>
  </div>
</div>


  <div class="container book">
    <div class="row">
      <div class="col">
          <div class="form-header text-center">
            <h4>Book Your Boat</h4>
          </div>

          <form>
            <h2 class="form-label text-center text-capitalize"> Your Boat: <%= @boat.name %></h2>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Check In</span>
                          <input class="form-control" type="date" required>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <span class="form-label">Check out</span>
                          <input class="form-control" type="date" required>

                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <span class="select-arrow"></span>
                      </div>
                  </div>
                  <div class="col-md-4">

                  </div>

              </div>

              <div class="form-btn">
                  <button class="submit-btn btn btn-primary">Book Now</button>
              </div>
              <div class="price text-end">
                <h4>R$<%= @boat.price %></h4>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
